*{
    box-sizing: border-box;
}
h2{
    font-size: larger;
}
.container{
    width: 90vw;
    position: relative;
    display: flex;
    width: 90vw;
    min-width: 90vw;
    flex-wrap: wrap;
    margin: 0 auto;
}
.hangpg{
    display: flex;
   
    padding-top: 100px;
    width: 100%;
}
.hangpg h1{
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.card {
    margin-bottom: 1.25rem;
    box-shadow: rgb(53 64 82 / 4%) 0 2px 4px 0;
}
.card {
    position: relative;
    display: flex;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(110,117,130,.2);
    border-radius: 3px;
}
.card-body {
    width: 80em;
    flex: 1 1 auto;
    /* padding: 1.25rem 1.25rem; */
}
#word-section > span {
    display: inline-block;
    margin-right: 5px;
}
.current-word {
    background-color: #dddddd;
}
#word-section {
    font-size: 1.5em;
    font-family: "Palatino Linotype","Arial","Times New Roman",sans-serif;
    height: 5em;
    line-height: 2em;
    border-radius: 0.25em;
    position: relative;
    overflow: hidden;
}
section {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}
#type-section {
    display: flex;
    padding-left: 5rem;
    text-align: center;
    padding-right: 5rem;
    margin-bottom: 100px;
    margin-top: 1.25rem;
    justify-content: center;
}
#typebox {
    width: 64%;
    color: #000;
    padding: 0.5em;
    box-shadow: 0 0 2px #383838;
    font-family: "Courier New";
}
#type-section > * {
    font-size: 1.5em;
    border-radius: 0.25em;
    border: none;
}
#data{
    display: flex;
    width: 6rem;
    height: 1.25rem;
    margin-bottom: 7px;
    justify-content: center;
    align-items: center;
    background-color: #467F21;
    color: #fff;
    cursor: pointer;
    border-radius: 0.25em;
    border: none;
}
#timer {
    width: 4em;
    background-color: #467F21;
    margin-right: 0;
    color: #fff;
}
#timer, #restart {
    margin: 0.2em;
    line-height: 2.2em;
    height: 2.2em;
    color: #fff;
}
#restart {
    width: 2em;
    background-color: #4f9222;
    cursor: pointer;
}
.span{
    display: inline-block;
}
.correct{
    color: green;
    background-color: rgb(214, 248, 217);
    transition: background-color .2s
}
.incorrect{
    color: red;  
    background-color: rgb(240, 215, 215);
    transition: background-color .2s
}
.fomat{
    border-radius: 5px;
    background-color: lightgray;
}
.fomatErro{
    border-radius: 5px;
    background-color:rgb(255, 218, 218);
}
.hide{
    visibility: hidden;
}
.final{
    text-align: center;
    border-radius: 20px;
    background-color: #11c589d2;
    color: white;
    font-size: 2rem;
    font-weight:540;
    justify-self:center;
    align-self:center;
    padding: 20px;
}
.Result{
    display: flex;
    width: 100%;
    justify-content: center;
}
#auswertung-result {
    padding: 0px;
    display: flex;
    width: 280px;
    float: left;
    margin-right: 20px;
    margin-top: -80px;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 1px 1px rgb(154 190 227 / 90%);
    -moz-box-shadow: 1px 1px 1px 1px rgba(154, 190, 227, 0.9);
    box-shadow: 1px 1px 1px 1px rgb(154 190 227 / 90%);
    font-family:Arial, Helvetica, sans-serif;
    flex-direction: column;
}
#auswertung-result h3 {
    color: #fff;
    background: #4d7f9f;
    font-size: 16px;
    padding: 8px 15px;
    margin: 0px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #333333;
    border-radius: 3px 3px 0px 0px;
}
#auswertung-result h3 > a {
    color: #fff;
    font-size: 14px;
    font-weight: normal;
    text-shadow: 0px;
    filter: none;
    margin-left: 10px;
}
.table>tbody>tr>td{
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
#auswertung-result #result-table #wpm {
    text-align: center;
}
#auswertung-result #result-table #wpm strong {
    font-size: 46px;
    color: #527a1e;
    display: block;
    margin-bottom: -9px;
    margin-top: 3px;
}
#auswertung-result #result-table #wpm small {
    color: #81888c;
    font-size: 12px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
/* #auswertung-result #result-table td.name {
    font-size: 16px;
    padding-left: 20px;
    width: 160px;
} */
#auswertung-result #result-table td.value {
    font-size: 16px;
    text-align: right;
    padding-right: 20px;
}
.correct1 {
    color: green;
}
.wrong {
    color: red;
}
#auswertung-result #result-table tr#correct .value {
    color: green;
}
#auswertung-result #result-table tr#wrong .value {
    color: red;
}
.switch {
    position: relative;
    width: 60px;
    height: 14px;
    margin-left: 5px;
    margin-top: 3px;
}
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 7px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 6px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    border-radius: 7px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }