*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hangpg__card{
    width: 30%;
    height: 80px;   
    display: flex;
    justify-content: center;
    border: 2px solid #dadada;
    box-sizing: border-box;
    letter-spacing: -.01em;
    margin-bottom: 20px;
    margin-right: 20px;
}
.hangpg__card-content{
    width: 90%;
    display: flex;
    align-items: center; 
}
.hangpg__card-content-title{
    width: 100%;
    display: flex;
    align-items: center;
    color: #327a7afd;
}
.content-number{
    display: inline-block;
    margin-right: 10px;
    padding: 10px 15px;
    background-color:rgb(75, 231, 197);
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 48%;
}
.content-title{
    width: 100%;
    display: inline-block;
    text-decoration: none;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #206bc4;
    font-weight: 500;
}
.container{
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin: 0 auto;
}
.hangpg{
    padding-top: 100px;
    width: 100%;
}
.hangpg h1{
    width: 100%;
    display: block;
    text-align: left;
    margin-bottom: 20px;
    padding-left: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.content-title p{
    width: 100%;
    font-size: 14px;
}
.content-title p1{
    width: 100%;
    color: rgb(134, 134, 134);
    font-weight: 500;
    font-size: small;
}
.myProgress {
    display: flex;
    margin-top: -10px;
    width: 100%;
    background-color: #ddd;
    border-radius: 50px;
}
.acc{
    color:black;
    font-size: 10px;
}  
.myBar {
    display: flex;
    width: 0%;
    height: 5px;
    background-color: #04AA6D;
    align-items: center;
    border-radius: 50px;
}
.btn,
.btn:link,
.btn:visited{
    font-family: 'Courier New', Courier, monospace;
    text-decoration:none;
    display:flex ;
    justify-content: left;
    padding: 15px;
    border-radius: 100px;
    position: relative;
    transition: all 0.2s;
}
.btn:hover{
    transform: translateY(-5px);
    box-shadow: 0 1px 1px 2px rgba(0, 0, 1, 0.212);
}
.btn:hover::after{
    transform: scale(1.4) scale(1.6);
    opacity: 0;
}
.btn:active{
    outline:none;
    transform: translateY(-5px);
    box-shadow: 0 5px 10px rgb(209, 195, 0);

}
.btn::after{
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 100px;
    background-color: rgba(0, 255, 170, 0.671);
    z-index: -1;
    transition: all .5s;
}

@media screen and (max-width: 900px) {
    .hangpg .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .container{
        width: 100vw; 
    }
    .hangpg__card{
        width: 50%;
    }
    .hangpg h1{
        text-align: center;
    }
}