* {box-sizing: border-box;}
*:hover, *:focus {outline:0}
html {height: 100%;}
body{
  position: relative;
  height: 100%;
  background: rgba(0,0,0,.3);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 17px;
  color:#777;
}
button, select, input {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.quiz-window {
  position: absolute;
  left:0; right:0;
  top: 50px;
  margin: auto;
  width: 900px;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
}
.quiz-window-header {
  width: 98%;
  padding: 20px 0px;
  text-align:center;
  position: relative;
}
.quiz-window-title {
  font-size: 36px;
  color:white;
  background-color: #14b0bf;
  height: 56px;
}
.quiz-window-close {
  position: absolute;
  top:20px;
  right:20px;
  padding:0;
  background:none;
  border:0;
  width: 30px;
  height: 30px;
  font-size: 60px;
  font-weight: 100;
  line-height: 24px;
  color: #777;
  cursor:pointer;
}
.quiz-window-body {
  width: 98%;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}
.guiz-awards-row {
  margin:0;
  padding: 10px 40px;
  list-style: none;
}
.guiz-awards-row:after {
  content: '';
  display: table;
  clear:both;
}
.guiz-awards-row-even {
  background-color: #fff;
}
.guiz-awards-row li {
  display:inline-block;
  vertical-align: top;
  float: left;
}
.guiz-awards-header {
  text-align: center;
  padding: 20px 40px;
}
.guiz-awards-star, .guiz-awards-exactly,.guiz-awards-time, .guiz-awards-day,
.guiz-awards-header-star, .guiz-awards-header-user, .guiz-awards-header-exactly{
  min-width: 54px;
  text-align: center;
  width: 15%;
}
.guiz-awards-name {
  width: 15%;
  min-width: 160px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 3px;
}
.guiz-awards-header-name {
  width: 15%;
  min-width: 160px;
}
.guiz-awards-subtitle {
  color: #858585;
  font-size: 14px;
  font-weight: 300;
}
.guiz-awards-user, .guiz-awards-exactly {
   width: 53%;
  min-width: 80px;
  font-size: 18px;
  line-height: 45px
}
.guiz-awards-header-user, .guiz-awards-header-exactly {
    width: 53%;
  min-width: 80px;
}
.inputContent{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align:justify;
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
}
.guiz-awards-time, .guiz-awards-day {
  width: 15%;
  min-width: 80px;
  font-size: 18px;
  line-height: 45px
}
.guiz-awards-header-time, .guiz-awards-header-day{
  width: 15%;
  min-width: 80px;
}
.guiz-awards-user .null, .guiz-awards-exactly .null,
.guiz-awards-time .null, .guiz-awards-day .null {
  color:#bababa;
}
.star {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1f7f5;
  background: #f7f7f7;  
}
.goldstar {
  box-shadow:
  2px 2px 0.5em rgba(122, 98, 0, 0.55),
  inset 1px 1px 0 rgba(255, 255, 255, 0.9),
  inset -1px -1px 0 rgba(0, 0, 0, 0.34)
;
border: 1px solid #deca73;
background:
  -moz-linear-gradient(
  -72deg,
  #ffde45,
  #ffffff 16%,
  #ffde45 21%,
  #ffffff 24%,
  #452100 27%,
  #ffde45 36%,
  #ffffff 45%,
  #ffffff 60%,
  #ffde45 72%,
  #ffffff 80%,
  #ffde45 84%,
  #452100
);
background:
-webkit-linear-gradient(
  -72deg,
  #ffde45,
  #ffffff 16%,
  #ffde45 21%,
  #ffffff 24%,
  #452100 27%,
  #ffde45 36%,
  #ffffff 45%,
  #ffffff 60%,
  #ffde45 72%,
  #ffffff 80%,
  #ffde45 84%,
  #452100
);
background:
-o-linear-gradient(
  -72deg,
  #ffde45,
  #ffffff 16%,
  #ffde45 21%,
  #ffffff 24%,
  #452100 27%,
  #ffde45 36%,
  #ffffff 45%,
  #ffffff 60%,
  #ffde45 72%,
  #ffffff 80%,
  #ffde45 84%,
  #452100
);
background:
linear-gradient(
  -72deg,
  #ffde45,
  #ffffff 16%,
  #ffde45 21%,
  #ffffff 24%,
  #452100 27%,
  #ffde45 36%,
  #ffffff 45%,
  #ffffff 60%,
  #ffde45 72%,
  #ffffff 80%,
  #ffde45 84%,
  #452100
);
}
.silverstar {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #ffffff;
  box-shadow:
    2px 2px 0.5em rgba(122, 122, 122, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.34)
  ;
  border: 1px solid #dedede;
  background:
    -moz-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  -o-linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
  background:
  linear-gradient(
    -72deg,
    #dedede,
    #ffffff 16%,
    #dedede 21%,
    #ffffff 24%,
    #454545 27%,
    #dedede 36%,
    #ffffff 45%,
    #ffffff 60%,
    #dedede 72%,
    #ffffff 80%,
    #dedede 84%,
    #a1a1a1
  );
}
.bronzestar {
  color: rgba(45, 00, 0, 0.55);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 1px 1px 0 #dea173;
  box-shadow:
    2px 2px 0.5em rgba(122, 55, 34, 0.55),
    inset 1px 1px 0 rgba(255, 255, 255, 0.9),
    inset -1px -1px 0 rgba(0, 0, 0, 0.5)
  ;
  border: 1px solid #dea173;
  background:
  -moz-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
  background:
  -webkit-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
  background:
  -o-linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
  background:
  linear-gradient(
    -72deg,
    #ca7345,
    #ffdeca 16%,
    #ca7345 21%,
    #ffdeca 24%,
    #a14521 27%,
    #ca7345 36%,
    #ffdeca 45%,
    #ffdeca 60%,
    #ca7345 72%,
    #ffdeca 80%,
    #ca7345 84%,
    #732100
  );
}
.nomalstar {
  border-color: #abacaa;
  background:silver;  
}
.guiz-awards-buttons {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}
.guiz-awards-but-back {
  display:inline-block;
  background: none;
  border: 1px solid #61a3e5;
  border-radius: 21px;
  padding: 7px 40px 7px 20px;
  color: #61a3e5;
  font-size: 17px;
  cursor:pointer;
  transition: all .3s ease;
}

.guiz-awards-but-back:hover {
  background: #61a3e5;
  color: #fff;
}

.guiz-awards-but-back i {
  font-size: 26px;
  line-height: 17px;
  margin-right: 20px;
  position: relative;
  top: 2px;
}
.ranking{
  display: flex;
  width: 90vw;
  max-width: 90vw;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 100px;
  min-width: 736px;
}
.search{
  display: flex;
  width: 90vw;
  align-items: center;
  max-width: 90vw;
  color: black;
}
.btn-search{
  display: flex;
  margin-left: 10px;
  width: 4rem;
  justify-content: center;
  margin-bottom: 5px;
}
