* {box-sizing: border-box;}
*:hover, *:focus {outline:0}
html {height: 100%;}
body{
  position: relative;
  height: 100%;
  background: rgba(0,0,0,.3);
  font-size: 17px;
  color:#777;
}
button, select, input {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}
.quiz-window {
  position: absolute;
  left:0; right:0;
  top: 50px;
  margin: auto;
  width: 900px;
  border-radius: 4px;
  background: #fff;
  overflow: hidden;
}
.quiz-window-header {
  width: 98%;
  padding: 20px 0px;
  text-align:center;
  position: relative;
}
.quiz-window-title {
  font-size: 36px;
  color:white;
  background-color: #14b0bf;
  height: 56px;
}
.quiz-window-close {
  position: absolute;
  top:20px;
  right:20px;
  padding:0;
  background:none;
  border:0;
  width: 30px;
  height: 30px;
  font-size: 60px;
  font-weight: 100;
  line-height: 24px;
  color: #777;
  cursor:pointer;
}
.quiz-window-body {
  width: 98%;
  background-color: #f9f9f9;
  margin-bottom: 30px;
}
.guiz-awards-row {
  margin:0;
  padding: 10px 40px;
  list-style: none;
}
.guiz-awards-row:after {
  content: '';
  display: table;
  clear:both;
}
.guiz-awards-row-even {
  background-color: #fff;
}
.guiz-awards-row li {
  display:inline-block;
  vertical-align: top;
  float: left;
}
.guiz-awards-header {
  text-align: center;
  padding: 20px 40px;
  cursor: pointer;
}
.guiz-awards-star,
.guiz-awards-user,
.guiz-awards-exactly,
.guiz-awards-time,
.guiz-awards-day,
.guiz-awards-header-star,
.guiz-awards-header-user, 
.guiz-awards-header-exactly,
.guiz-awards-name,
.guiz-awards-header-name,
.guiz-awards-user, 
.guiz-awards-exact,
.guiz-awards-header-time,
.guiz-awards-header-day{
  width: 15%;
  min-width: 80px;
  font-size: 18px;
  line-height: 45px
}
.guiz-awards-subtitle {
  color: #858585;
  font-size: 14px;
  font-weight: 300;
}
.guiz-awards-user .null, .guiz-awards-exactly .null,
.guiz-awards-time .null, .guiz-awards-day .null {
  color:#bababa;
}
.star {
  display:block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #f1f7f5;
  background: #f7f7f7;  
}
.goldstar {
  background-image: url("../public/avt/ichi.png");
  background-size:cover;
}
.silverstar {
  background-image: url("../public/avt/ni.png");
  background-size:cover;
}
.bronzestar {
  background-image: url("../public/avt/san.png");
  background-size:cover;
}
.nomalstar {
  background-image: url("../public/avt/other.png");
  background-size:cover;;  
}
.guiz-awards-buttons {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}
.guiz-awards-but-back {
  display:inline-block;
  background: none;
  border: 1px solid #61a3e5;
  border-radius: 21px;
  padding: 7px 40px 7px 20px;
  color: #61a3e5;
  font-size: 17px;
  cursor:pointer;
  transition: all .3s ease;
}

.guiz-awards-but-back:hover {
  background: #61a3e5;
  color: #fff;
}

.guiz-awards-but-back i {
  font-size: 26px;
  line-height: 17px;
  margin-right: 20px;
  position: relative;
  top: 2px;
}
.avt_rank{
  transform: translate(-6px, 8px);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.ranking{
  display: flex;
  width: 90vw;
  min-width: 1000px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-left: 3rem;
  margin-top: 100px;
  min-width: 736px;
}
.search{
  display: flex;
  width: 90vw;
  align-items: center;
  max-width: 90vw;
  color: black;
}
.btn-search{
  display: flex;
  margin-left: 10px;
  width: 4rem;
  justify-content: center;
  margin-bottom: 5px;
}
